<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <% envelopes.forEach(envelope => { %>
    <div class="card">
      <p><%= envelope.title %></p>
      <p><%= envelope.budget %></p>
    </div>
    <% }) %>
  </body>
</html>
